body{
    background-image: url(../img/fondContact.png);
    background-attachment: fixed;

}
div.formulaire{
    margin-top: 100px;
}
div.contact{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
div.name{
    width: 50%;
}