:root{
    --black: #000;
    --white: #fff;
    --salmon: #E89676;
    --brown: #7E503E;
    --grey: #333; 
    --fonttitle: 'Dancing Script', cursive;
    --fontbold: 'Maven Pro', sans-serif;
    --font: 'Open Sans', sans-serif;

    --carousel-img-portfolio: "../img/IMG_1209\ 2.JPG";
}



body {
    font-family: var(--font);
    background-color: var(--white);
    color: var(--black);
}
h1.titre{
    font-family: var(--font-title);
    padding-left: 2%;
}

/* header */


.navWrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 69;
    top: 0;
    height: 120px;
    margin: 0 !important;
    justify-content: space-evenly;
    box-shadow: none !important;

}
@media screen and (max-width: 1000px) {
    .navWrapper {
        justify-content: space-between;
    }}
.navWrapper img{
    width: 125px;
}
.navWrapper ul {
    display: flex;
}

.navWrapper .navBarBtn a{
    color: var(--black);
    font-size: 23px;
    font-family: var(--fontbold);
}

.navWrapper .navBarBtn a:hover{
    font-weight: 700;
    background-color: var(--white);
}


.navWrapper .navBarIcons i{
    width: 20px;
    color: var(--black);
    display: flex;
    align-items: center;
}

.navWrapper .navBarIcons a:hover{
    font-weight: 700;
    background-color: var(--white);
}    

@media screen and (max-width: 1000px) {
    .navWrapper .navBarIcons img {
        display: flex;
        align-items: center;
        
    }
}
.sidenav{
    font-family: var(--fontbold);
}
.logo img{
    width: 125px;
    height: 84px;
}

.logo{
    display: flex;
    align-items: center;
    vertical-align: center;
    margin: 20px;
}
.logo a{
    margin-left: 20%;
}
.logo i{
    font-size: 25px;
}
.navBarLogo{
    margin-left: 20px;
}
.acceuil{
    margin-top: 20px;
}
.navBar .sidenav a:hover{
    background-color: var(--white);
}
.menu{
    font-size: 300% !important;
    margin-right: 50px;
}
/* carrousel */

.carouselIndex {
    height: 100vh !important;
    margin-top: -120px;
    margin-bottom: 0 !important;

}

.carouselIndex .carousel-item {
    background-color: var(--black);
}

.carouselIndex .carousel-item {
    width: 100%;
}




/* carousel 1 */


.carouselIndex .carousel-item .textOne{
    width: 600px;
}



@media screen and (min-width: 1300px) {
    .carouselIndex .carousel-item .textOne{
        text-align: justify;
        margin-top: 50vh;
    }
    .carousel.carousel-slider .carousel-item .textOne {
        margin-left: 50%;
    }
}


 @media screen and (max-width: 1300px) {
    .carouselIndex .carousel-item .textOne{
        text-align: center;
        margin-top: 50vh;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textOne{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }

.carouselIndex .carouselOne {
    background-image: url("../img/117172683_786097672130366_1705502394645962023_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* carousel 2 */


.carouselIndex .carousel-item .textTwo{
    width: 600px;
}

@media screen and (min-width: 1300px) {
    .carouselIndex .carousel-item .textTwo{
        text-align: justify;
        margin-top: 50vh;
    }
    .carousel.carousel-slider .carousel-item .textTwo {
        margin-left: 5%;
    }
}


 @media screen and (max-width: 1300px) {
    .carouselIndex .carousel-item .textTwo{
        text-align: center;
        margin-top: 50vh;
        width: auto;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textTwo{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }



.carouselIndex .carouselTwo {
    background-image: url("../img/13.png");
    background-repeat: no-repeat;
    background-size: cover;

}




/* carousel 3 */



.carouselIndex .carousel-item .textThree{
    width: 600px;
}



@media screen and (min-width: 1000px) {
    .carouselIndex .carousel-item .textThree{
        text-align: justify;
        margin-top: 50vh;
        
    }
    .carousel.carousel-slider .carousel-item .textThree {
        margin-left: 5%;
        
    }
}
 @media screen and (max-width: 1000px) {
    .carouselIndex .carousel-item .textThree{
        text-align: center;
        margin-top: 50vh;
        width: auto;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textThree{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }

.carouselIndex .carouselThree {
    background-image: url("../img/000039000031.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel 4 */

.carouselIndex .carousel-item .textFour{
    width: 600px;
}


@media screen and (min-width: 1000px) {
    .carouselIndex .carousel-item .textFour{
        text-align: right;
        margin-top: 50vh;
    }
    .carousel.carousel-slider .carousel-item .textFour {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
 @media screen and (max-width: 1000px) {
    .carouselIndex .carousel-item .textFour{
        text-align: center;
        margin-top: 50vh;
        width: auto;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textFour{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }



.carouselIndex .carouselFour {
    background-image: url("../img/IMG_1209\ 2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}


.carouselIndex .indicators .indicator-item {
    height: 18px!important;
    width: 18px !important;
    margin: 60px 22px!important;
  }


/*portfolio*/

.carouselPortfolio{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    width: 68% !important;
    height: 30% !important;
}

.carouselPortfolio h2{
    font-family: var(--fonttitle);
    font-size: 5vh !important;
    margin-top: 25%;
}


.carouselPortfolio .carouselImgPortfolio {
    background-image: var(--carousel-img-portfolio);
    background-repeat: no-repeat;
    background-size: cover;
}


/*contact*/


.contact-page{
    color: var(--white);
    background-image: url(../img/fondContact.png);
    background-size: cover;
    background-repeat: no-repeat;
}


@media screen and (min-width: 993px) {
    .contact-me, .contactForm{
        margin-left: 500px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1800px) {
    .contact-me, .contactForm{
        margin-left: 800px;
        margin-right: 100px;
    }
}


.contact-page button{
    color: var(--white);
}
.contact-page input, .contact-page textarea{
    background-color: var(--white) !important;
}


.contact-page #name, #family-name, #email, #subject{
    padding-left: 15px;
}


.contactForm {
    padding-bottom: 40px;
}

.contact-page .contact-me p {
    font-family: var(--fonttitle);
    text-align: center;
    height: 60px;
    font-size: 60px;
}

.contact-page .sendBtn{
    display: block;
    text-align: center;
}

.contact-page .sendBtn .button{
    background-color: var(--salmon);
    height: 36px;
    font-family: var(--font);
    font-size: 20px;
    border-color: var(--salmon);
    margin-top: 25px;

}


.contact-page .file .button{
    border-color: var(--white);
    margin-left: 2px;
}

@media screen and (min-width: 993px) {
    .contact-page .firstNameAndName{
    display: flex;
}

.contact-page .firstNameAndName>div{
    width: 50%;
    padding-right: 3%;
}
.contact-page .firstNameAndName>:last-child{
    width: 50%;
    padding-left: 3%;
    padding-right: 0;
}
.contact-page textarea.remark{
    height: 200px;
    resize: none;
    padding: 15px;
    padding-bottom: 20px;
}
}


@media screen and (max-width: 993px) {
    .contactForm{
        margin-left: 60px;
        margin-right: 60px;
    }
    .contact-page textarea.remark{
        height: 100px;
        resize: none;
    }
}

/* prestation */
.annonce .titlePrestation {
    text-align: center;
    font-size: 40px;
    font-family: var(--fonttitle);
}
.annonce .prestationDescription {
    text-align: center;
    font-size: 16px;
    font-family: var(--font);
}

.annonce .img{
    display: block;
    margin: 50px auto 80px auto; 
    width: 35%;
    max-width: 35%;
    max-height: 50vh;

}

.prestationPrice{
    text-align: center;
    font-size: 16px;
    font-family: var(--fontbold);
    margin-bottom: 50px;
}

@media screen and (min-width: 1000px){
    .annonce .prestationDescription {
    margin-left: 20%;
    margin-right: 20%;
    }
}

@media screen and (max-width: 1000px) {
    .annonce .prestationDescription {
        margin-left: 40px;
        margin-right: 40px;
        }
}

.trash{
    background-color: var(--white);
    color: var(--black);
    border: none;
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.trash:hover{
    cursor: pointer;
}

.ligne{
    width: 80%;
    height: 1px;
    background-color: var(--black);
    opacity: 50%;
}

@media screen and (min-width: 1100px) {
    .agendaBtn{
        background-color: var(--salmon);
        color: var(--white);
        font-size: 30px;
        border-color: var(--white);
        border-style: solid;
        padding: 10px;
        display: block;
        text-align: center;
        margin-left: 40%;
        width: 20%;
        font-family: var(--fonttitle);
        margin-bottom: 200px;
        margin-top: 150px;
    }

    .annonce .prestationBtn{
        background-color: var(--salmon);
        color: var(--white);
        font-size: 30px;
        border-color: var(--white);
        border-style: solid;
        padding: 10px;
        display: block;
        text-align: center;
        margin-left: 40%;
        width: 20%;
        font-family: var(--fonttitle);
        margin-bottom: 50px;
    }
}

.annonce .prestationBtn{
    background-color: var(--salmon);
    color: var(--white);
    font-size: 30px;
    border-color: var(--white);
    border-style: solid;
    padding: 10px;
    display: block;
    text-align: center;
    margin-left: 40%;
    width: 20%;
    font-family: var(--fonttitle);
}

@media screen and (max-width: 1100px){
    .agendaBtn{
        background-color: var(--salmon);
        color: var(--white);
        font-size: 30px;
        border-color: var(--white);
        border-style: solid;
        padding: 10px;
        display: block;
        text-align: center;
        margin-left: 25%;
        width: 50%;
        font-family: var(--fonttitle);
        margin-bottom: 200px;
        margin-top: 150px;
    }

    .annonce .prestationBtn{
        background-color: var(--salmon);
        color: var(--white);
        font-size: 30px;
        border-color: var(--white);
        border-style: solid;
        padding: 10px;
        display: block;
        text-align: center;
        margin-left: 25%;
        width: 50%;
        font-family: var(--fonttitle);
    }

}

/* store */



@media screen and (min-width: 750px) {
    .store{
        display: flex;
        margin-top: 50px;
        position: relative;
    }
    .vl{
        height: 75vh;
        width: 1px;
        background-color: var(--black);
    }

    .store .category li {
        list-style: none;
        margin-left: 60px;
        margin-top: 30px;
        margin-right: 60px;
        text-align: left;
        font-size: 16px;
    }

    .store .category li .btnCategory:hover{
        transform: scale(1.1);
    }

    .store .category .btnCategory {
        background-color: var(--white);     
        border: none;
        color: var(--black);
        cursor: pointer;
    }
    .store hr{
        width: 0;
        height: 0;
        background-color: var(--white);
        color: var(--white);
        position: absolute;
    }
}

@media screen and (max-width: 750px) {
    .store .category {
        display: flex;
        justify-content: space-evenly;
    }
    .store .category li {
        list-style: none;
        font-size: 16px;
    }
    .store .category .btnCategory {
        background-color: var(--white);     
        border: none;
        color: var(--black);
        cursor: pointer;
    }
    
    .store .category li .btnCategory:hover{
        transform: scale(1.1);
    }

    .store .vl {
        background-color: var(--white);
    }
    .store hr{
        width: 80%;
        height: 1px;
        background-color: var(--black);
        margin-top: 50px;
    }

}
@media screen and (min-width: 750px) {
    .store #content {
        margin-left: 90px;
        width: 100%;
    }
    
    .store .annonce {
        margin-right: 4vw;
    }
}



.store .annonce-line{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.store .annonce img{
    width: 200px;
    height: 250px;
}

.store .annonce .name {
    font-family: var(--fontbold);
    text-align: left;
    font-weight: bolder;
    margin-left: 15px;
    margin-top: 7px!important;
    margin-bottom: 0 !important;
}

.store .annonce .price {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 0 !important;
    margin-top: 3px !important;
    font-style: italic;
}

.store .annonce .cat {
    text-align: left;
    margin-left: 15px;
    margin-top: 7px!important;
    margin-bottom: 0 !important;
}


@media screen and (min-width: 750px) {
    
.contentAndPage #page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contentAndPage #page input {
    border-bottom: none !important;
    margin: 0 !important;
}
}

@media screen and (max-width: 750px) {
    
    .contentAndPage #page{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .contentAndPage #page input {
        border-bottom: none !important;
        margin: 0 !important;
    }
    input:focus{
        border-bottom: none !important;
        box-shadow: none !important;
    }
    }


.store .like {
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
}

.store #basket {
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
}


.store #content form>#basket {
    margin-top: -330px ;
    margin-left: 110px;
    z-index: 2;
}
.store #content .annonce>.like {
    margin-top: -340px ;
    margin-left: 158px;
}



input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.pageBefore, .pageAfter, .pageBeforeImpossible, .pageAfterImpossible {
    background-color: var(--white); 
    border: none;
    color: var(--black);
    cursor: pointer;
}
.pageBefore:active {
    background-color: var(--white);
    color: var(--salmon);
}
.pageBefore {
    margin-right: 50px;
}

.pageBeforeImpossible {
    margin-right: 50px;
    opacity: 50%;
}

.pageafter:active {
    background-color: var(--white);
    color: var(--salmon);
}

.pageAfter {
    margin-left: 50px;
}

.pageAfterImpossible {
    margin-left: 50px;
    opacity: 50%;
}

#numPage {
    width: 50px;
}


/*user*/
div.connection{
    background-color: var(--black);
    opacity: 80%;
    color: var(--white);
    margin: 50px;
    padding: 50px;
    border-radius: 2%;

}
div.use{
    background-image: url(../img/rail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
div.count{
    margin-top:50px
}
div form input.butonuser{
    background-color: var(--salmon);
    border-color: var(--salmon);
}
div.connection a{
    color: var(--white);
}
div.connection a:hover{
    color: var(--salmon);
}
div.test{
    display: flex;
    margin-left: 15%;
}
div.test p{
    margin-bottom: 0;
}
div.conditions{
    margin-left: 15%;
}
div.test form{
    width: 80%;
}

.userTitle {
    text-align: center;
    font-family: var(--fonttitle);
}

@media screen and (min-width: 750px) {
    .navBarUserAndSeparation{
        display: flex;
    }
    
    .navBarUser {
        margin-left: 60px;
        margin-right: 60px;
    }
    .navBarUser li {
        list-style: none;
        font-size: 16px;
    }
    .navBarUser li .spacing {
        background-color: var(--white);     
        border: none;
        color: var(--black);
        cursor: pointer;
    }
    
    .navBarUser li .spacing:hover{
        transform: scale(1.1);
    }
    .navBarUserAndSeparation .separation {
        height: 75vh;
        width: 1px;
        background-color: var(--black);        
    }
    
}

@media screen and (max-width: 750px) {
    .navBarUser {
        margin-left: 60px;
        text-align: center;
        margin-right: 60px;
        margin-top: 100px;
        height: 50vh;
    }
    .navBarUser li {
        list-style: none;
        font-size: 16px;
    }
    .navBarUser li .spacing {
        background-color: var(--white);     
        border: none;
        color: var(--black);
        cursor: pointer;
    }
    
    .navBarUser li .spacing:hover{
        transform: scale(1.1);
    }
    .navBarUserAndSeparation .separation {
        background-color: var(--white) ;     
    }
    
}

/*     
div.separation{
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 2% !important;
	}
p.spacing{
    margin-bottom: 35%;
    -webkit-text-stroke-width: medium;
    font-size: larger;
}

 */

/* footer */

.pageFooter {
    background-color: var(--brown);
    color: var(--white);
    margin-bottom: 0px;
    background: linear-gradient(var(--brown),#694435);
}

.pageFooter h3 {
    font-size: 2vh;
    margin-bottom: 3px;
    margin-top: 3px;
}

.pageFooter .socialAndLanguage {
    padding-top: 3vh;
    margin-bottom: 0px;
}


/* social icons */

.pageFooter .social .socialIcons
{
    display: flex;
    text-align: justify;

}
.socialIcons span{
    margin-left: 10px;
}

.pageFooter .contact .socialIcons li
{
  display:inline-block;
  margin-right:15px;
}
.pageFooter .social .socialIcons a{
  background-color: var(--white);
  color:var(--grey);
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  border-radius:100%;
  transition:all .2s linear;
  margin-right: 10px;
}

.pageFooter .social .socialIcons li a i {
    padding-top: 32%;
}

.pageFooter .social .socialIcons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.pageFooter .social .socialIcons a.facebook:hover
{
  background-color:#3b5998;
  color: var(--white);
}
.pageFooter .social .socialIcons a.twitter:hover
{
  background-color:#00aced;
  color: var(--white);
}
.pageFooter .social .socialIcons a.linkedin:hover
{
  background-color:#007bb6;
  color: var(--white);
}
.pageFooter .social .socialIcons a.instagram:hover
{
  background:linear-gradient(45deg,#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D,  #F56040, #F77737, #FCAF45, #FFDC80);
  opacity: 75;
  color: var(--white);
}


/* language */

.pageFooter .language ul {
    display: flex !important;
    margin-top: 24px;
}

.pageFooter .language img {
    width: 40px;
    height: 30px;
    border-radius: 10%;
    margin-right: 15px;
    filter: grayscale(100%);
}

.pageFooter .language img:hover {
    filter: grayscale(0%);
}

/* presentation & contact */


.pageFooter .presentationContact {
    margin-bottom: 0px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.pageFooter .presentation {
    text-align: justify;
    border-left: 3px solid var(--white);
}

.pageFooter .info {
    border-left: 3px solid var(--white);
}

.pageFooter .info .phone, .adress, .emailFooter{
    display: flex;
}

.pageFooter .fa-solid{
    margin: 7px;
    margin-left: 0px;
}

.pageFooter .info p {
    margin: 0px;
}

/* copyright */
.pageFooter .copyright {
    display: flex;
    align-items: center;
}

.pageFooter .copyright p {
    color: #ECCCBF;
    padding-left: 10px;
}

.pageFooter .copyright a {
    color: var(--white);
    padding-left: 5px;
}

.you{
    width: 100%;
    padding: 0% 15%;
}
.you .nomPrenom{
    display: flex;
    justify-content: space-between;
}
.you input{  
border: none !important;
margin: 0 !important;
padding-left: 4% !important;
}  
.you p .entourage{
    margin-top: 15px!important;
    outline-style: solid !important;
    border-radius: 2rem !important;
}
.you .butonuse{
    padding: 10px;
    margin-top: 15px;
    background-color: var(--salmon);
    border-color: var(--salmon);
    color: var(--white);

}
.centerpls{
    display: flex;
    flex-direction: column;
}
.centerpls .butonuse{
    align-self: center;
}