:root{
    --black: #000;
    --white: #fff;
    --salmon: #E89676;
}



/* header */
.navWrapper, .navWrap {
    background-color: var(--white);
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.navWrapper img{
    width: 150px;
    margin-right:10vw ;
}
.navWrapper a{
    color: var(--black);
    margin-right: 7vw;
    font-size: large;
}
.navWrap a{
    color: #000;
}
.navWrap {
    width: 20vh;
}
.navBar{
    display: flex;
    justify-content: center;
    padding-top: 2vh;

}

/* footer */

.pageFooter {
    background-color: var(--salmon);
    color: var(--white);
    padding-top: 100px;
    margin-top: 100px;
    font-size: 30px;
}

.pageFooter .mention {
    display: flex;
    justify-content: center;
}

.pageFooter .copyAndContact {
    display: flex;
    justify-content: space-evenly;
}

.pageFooter .copyAndContact .copyright {
    font-size: 18px;
}

.pageFooter .copyAndContact .contact a {
    color: var(--white);
    margin-left: 10px;
}