:root{
    --black: #000;
    --white: #fff;
    --salmon: #E89676;
    --brown: #7E503E;
    --grey: #333; 
    --font-title: 'Dancing Script', cursive;
    --fontbold: 'Maven Pro', sans-serif;
    --font: 'Open Sans', sans-serif;
}


body {
    font-family: var(--font);
}
h1.titre{
    font-family: var(--fonttitle);
}

/* header */


.navWrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 69;
    top: 0;
    height: 120px;
    margin: 0 !important;
    justify-content: space-evenly;
    box-shadow: none !important;

}

.navWrapper img{
    width: 125px;
}
.navWrapper ul {
    display: flex;
}

.navWrapper .navBarBtn a{
    color: var(--black);
    font-size: 23px;
    font-family: var(--fontbold);
}

.navWrapper .navBarBtn a:hover{
    font-weight: 700;
    background-color: var(--white);
}


.navWrapper .navBarIcons i{
    width: 20px;
    color: var(--black);
    display: flex;
    align-items: center;
}

.navWrapper .navBarIcons a:hover{
    font-weight: 700;
    background-color: var(--white);
}    

@media screen and (max-width: 1000px) {
    .navWrapper .navBarIcons img {
        display: flex;
        align-items: center;
        
    }
}


/* carrousel */

.carouselIndex {
    height: 100vh !important;
    margin-top: -120px;
    margin-bottom: 0 !important;

}

.carouselIndex .carousel-item {
    background-color: var(--black);
}

.carouselIndex .carousel-item {
    width: 100%;
}




/* carousel 1 */


.carouselIndex .carousel-item .textOne{
    width: 600px;
}



@media screen and (min-width: 1300px) {
    .carouselIndex .carousel-item .textOne{
        text-align: justify;
        margin-top: 50vh;
    }
    .carousel.carousel-slider .carousel-item .textOne {
        margin-left: 50%;
    }
}


 @media screen and (max-width: 1300px) {
    .carouselIndex .carousel-item .textOne{
        text-align: center;
        margin-top: 50vh;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textOne{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }

.carouselIndex .carouselOne {
    background-image: url("../img/117172683_786097672130366_1705502394645962023_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* carousel 2 */


.carouselIndex .carousel-item .textTwo{
    width: 600px;
}

@media screen and (min-width: 1300px) {
    .carouselIndex .carousel-item .textTwo{
        text-align: justify;
        margin-top: 50vh;
    }
    .carousel.carousel-slider .carousel-item .textTwo {
        margin-left: 5%;
    }
}


 @media screen and (max-width: 1300px) {
    .carouselIndex .carousel-item .textTwo{
        text-align: center;
        margin-top: 50vh;
        width: auto;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textTwo{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }



.carouselIndex .carouselTwo {
    background-image: url("../img/13.png");
    background-repeat: no-repeat;
    background-size: cover;

}




/* carousel 3 */



.carouselIndex .carousel-item .textThree{
    width: 600px;
}



@media screen and (min-width: 1000px) {
    .carouselIndex .carousel-item .textThree{
        text-align: justify;
        margin-top: 50vh;
        
    }
    .carousel.carousel-slider .carousel-item .textThree {
        margin-left: 5%;
        
    }
}
 @media screen and (max-width: 1000px) {
    .carouselIndex .carousel-item .textThree{
        text-align: center;
        margin-top: 50vh;
        width: auto;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textThree{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }

.carouselIndex .carouselThree {
    background-image: url("../img/000039000031.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/* carousel 4 */

.carouselIndex .carousel-item .textFour{
    width: 600px;
}


@media screen and (min-width: 1000px) {
    .carouselIndex .carousel-item .textFour{
        text-align: right;
        margin-top: 50vh;
    }
    .carousel.carousel-slider .carousel-item .textFour {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
 @media screen and (max-width: 1000px) {
    .carouselIndex .carousel-item .textFour{
        text-align: center;
        margin-top: 50vh;
        width: auto;
    }
    @media screen and (min-width: 700px) {
    .carouselIndex .carousel-item .textFour{
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
    
    }
 }



.carouselIndex .carouselFour {
    background-image: url("../img/IMG_1209\ 2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}


.carouselIndex .indicators .indicator-item {
    height: 18px!important;
    width: 18px !important;
    margin: 60px 22px!important;
  }


/*portfolio*/

.carouselPortfolio{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    width: 68% !important;
    height: 30% !important;
}

.carouselPortfolio h2{
    font-family: var(--font-title);
    font-size: 5vh !important;
    margin-top: 25%;
}


.carouselPortfolio .carouselFive {
    background-image: url("../img/IMG_1209\ 2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}


/*contact*/


.contact-page{
    color: var(--white);
    background-image: url(../img/fondContact.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -155px; */
}

.contact-page .component {
    padding-top: 30px ;
    margin-top: -60px;
}


@media screen and (min-width: 993px) {
    .contact-me, .contactForm{
        margin-left: 500px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1800px) {
    .contact-me, .contactForm{
        margin-left: 800px;
        margin-right: 100px;
    }
}


.contact-page button{
    color: var(--white);
}
.contact-page input, .contact-page textarea{
    background-color: var(--white) !important;
}

.contactForm {
    padding-bottom: 40px;
}

.contact-page .contact-me p {
    font-family: var(--font-title);
    text-align: center;
    height: 60px;
    font-size: 60px;
}

.contact-page .sendBtn{
    display: block;
    text-align: center;
}

.contact-page .button{
    background-color: var(--salmon);
    height: 36px;
    font-family: var(--font);
    font-size: 20px;
    border-color: var(--salmon);
    margin-top: 25px;

}
.contact-page textarea.remark{
    height: 200px;
    resize: none;
}

@media screen and (min-width: 993px) {
    .contact-page .firstNameAndName{
    display: flex;
}

.contact-page .firstNameAndName>div{
    width: 50%;
    padding-right: 3%;
}
.contact-page .firstNameAndName>:last-child{
    width: 50%;
    padding-left: 3%;
    padding-right: 0;
}
.contact-page textarea.remark{
    height: 200px;
    resize: none;
}
}


@media screen and (max-width: 993px) {
    .contactForm{
        margin-left: 60px;
        margin-right: 60px;
    }
    .contact-page textarea.remark{
        height: 100px;
        resize: none;
    }
}



/* store */

.store .annonce img{
    width: 320px;
    height: 400px;
}













/* footer */

.pageFooter {
    background-color: var(--brown);
    color: var(--white);
    height: 40%;
    font-size: 18px;
    margin-bottom: 0;
}

.pageFooter h3 {
    font-size: 2vh;
}

.pageFooter .contactAndLanguage {
    padding-top: 3vh;
}


/* social icons */

.pageFooter .contact .socialIcons
{
    display: flex ;
    text-align:left;
    width: 400px;
    
  justify-content: space-between;
}

.pageFooter .contact .socialIcons li
{
  display:inline-block;
  margin-right:15px;
}
.pageFooter .contact .socialIcons a{
  background-color: var(--white);
  color:var(--grey);
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  border-radius:100%;
  transition:all .2s linear;
}

.pageFooter .contact .socialIcons li a i {
    padding-top: 32%;
}

.pageFooter .contact .socialIcons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.pageFooter .contact .socialIcons a.facebook:hover
{
  background-color:#3b5998;
  color: var(--white);
}
.pageFooter .contact .socialIcons a.twitter:hover
{
  background-color:#00aced;
  color: var(--white);
}
.pageFooter .contact .socialIcons a.linkedin:hover
{
  background-color:#007bb6;
  color: var(--white);
}
.pageFooter .contact .socialIcons a.instagram:hover
{
  background:linear-gradient(45deg,#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D,  #F56040, #F77737, #FCAF45, #FFDC80);
  opacity: 75;
  color: var(--white);
}


/* language */

.pageFooter .language img {
    width: 60;
    height: 40px;
    border-radius: 20%;
}


/* copyright */
.pageFooter .copyright {
    display: flex;
    align-items: center;
}

.pageFooter .copyright p {
    color: var(--grey);
    padding-left: 5px;
}

.pageFooter .copyright a {
    color: var(--white);
    padding-left: 5px;
}

/*user*/
div.connection{
    background-color: var(--black);
    opacity: 80%;
    color: var(--white);
    margin: 50px;
    padding: 50px;
    border-radius: 2%;

}
div.use{
    background-image: url(../img/rail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
div.count{
    margin-top:50px
}
div form input.butonuser{
    background-color: var(--salmon);
    border-color: var(--salmon);
}
div.connection a{
    color: var(--white);
}
div.connection a:hover{
    color: var(--salmon);
}
div.test{
    display: flex;
    margin-left: 15%;
}
div.test p{
    margin-bottom: 0;
}
div.conditions{
    margin-left: 15%;
}
div.test form{
    width: 80%;
}
    
div.separation{
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 2% !important;
	}
p.spacing{
    margin-bottom: 35%;
    -webkit-text-stroke-width: medium;
    font-size: larger;
}
