<footer class="pageFooter">
    <div class="row socialAndLanguage">
        <div class="social">
            <ul class="col s2 offset-s1 socialIcons">
                <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="https://mobile.twitter.com/mattptyy"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/matt.pty/?hl=fr"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>   
            </ul>
        </div>
        <div class="language col s3 offset-s4">
            <ul>
                <li><img src="img/french_flag.png" alt="Drapeau Français" class="z-depth-3"><a class="" href="#"></a></li>
                <li><img src="img/english_flag.png" alt="Drapeau English" class="z-depth-3"><a class="" href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="row presentationContact">
        <div class="col s3 offset-s1 presentation">
            <h3>PHOTOGRAPHE</h3>
            <p>Mais aussi guitariste et pianiste. Mes domaines de prédilection sont le portrait, le nu artistique et la street photography. </p>
        </div>
        <div class="col s3 offset-s3 info">
            <h3>MAHTIEU GRAS</h3>
            <div class="adress">
                <div class="fa-solid fa-map-marker"></div>
                <p>adresse</p>
            </div>
            <div class="phone">
                <div class="fa-solid fa-phone"></div>
                <p>telephone</p>
            </div>
            <div class="emailFooter">
                <div class="fa-solid fa-envelope"></div>
                <p>email</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2023 Copyright Matthieu Gras Photography -</p>
        <a href="#">Mentions légales</a>
    </div>
</footer>