<footer class="pageFooter">
    <div class="contactAndLanguage">
        <div class="contact">
            <h3>mes reseaux</h3>
            <ul class="socialIcons">
                <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="https://mobile.twitter.com/mattptyy"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/matt.pty/?hl=fr"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>   
            </ul>
        </div>
        <div class="language">
            <h3>changer de langue</h3>
            <ul>
                <li><img src="img/french_flag.png" alt=""><a class="frenchFlag" href="#">français</a></li>
                <li><img src="img/english_flag.png" alt=""><a class="englishFlag" href="#">anglais</a></li>
                <li><img src="img/german_flag.png" alt=""><a class="germanFlag" href="#">allemand</a></li>
                <li><img src="img/italian_flag.png" alt=""><a class="italianFlag" href="#">italien</a></li>
                <li><img src="img/spain_flag.png" alt=""><a class="spanishFlag" href="#">espagnol</a></li>
                <li><img src="img/japan_flag.png" alt=""><a class="japanFlag" href="#">japonais</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© 2023 Copyright Matthieu Gras Photography</p>
        <a href="#">mention légales</a>
    </div>
</footer>