<footer class="pageFooter">
    <div class="row contactAndLanguage">
        <div class="contact">
            <h3 class="col s1 offset-s1">Mes réseaux</h3>
            <ul class="col s2 socialIcons">
                <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="https://mobile.twitter.com/mattptyy"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/matt.pty/?hl=fr"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>   
            </ul>
        </div>
        <div class="language">
            <h3 class="col s2 offset-s3">Changer de langue</h3>
            <ul>
                <li><img src="img/french_flag.png" alt="Drapeau Français" class="z-depth-3"><a class="col s1" href="#">Français</a></li>
                <li><img src="img/english_flag.png" alt="Drapeau English" class="z-depth-3"><a class="col s1" href="#">English</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© 2023 Copyright Matthieu Gras Photography</p>
        <a href="#">Mentions légales</a>
    </div>
</footer>