<header>
  <nav>
    <div class="navBar white ">
      <div class="navWrapper row">
        <div class="col l1 offset-l1">
          <img src="img/logo.png" alt="appareil photo">
        </div>
          <ul id="navMobile" class="right hide-on-med-and-down">
            <div class="col l2 offset-l2"><li><a href="index.php">ACCEUIL</a></li></div>
            <div class="col l2"><li><a href="portfolio.php">PORTFOLIO</a></li></div>
            <div class="col l2"><li><a href="prestation">PRESTATION</a></li></div>
            <div class="col l2"><li><a href="store.php">BOUTIQUE</a></li></div>
            <div class="col l2"><li><a href="contact.php">CONTACT</a></li></div>
          </ul>
        <div class="col l1 navbtn">
          <li><a href="basket.php"><i class="fa-solid fa-bag-shopping"></i></a></li>
          <li><a href="user.php"><i class="fa-solid fa-user"></i></a></li>
        </div>
    </div>
      
  </nav>
</header>