<header>
  <nav>
    <div class="navBar white ">
      <div class="navWrapper row">
        <div class="col l1 offset-l1">
          <img src="img/logo.png" alt="appareil photo">
        </div>
          <ul id="navMobile" class="right hide-on-med-and-down">
            <div class="col l2 offset-l2"><li><a href="sass.html">ACCEUIL</a></li></div>
            <div class="col l2"><li><a href="badges.html">PORTFOLIO</a></li></div>
            <div class="col l2"><li><a href="collapsible.html">PRESTATION</a></li></div>
            <div class="col l2"><li><a href="boutique.html">BOUTIQUE</a></li></div>
            <div class="col l2"><li><a href="page/contact.php">CONTACT</a></li></div>
          </ul>
        <div class="col l1 navbtn">
          <li><a href="panier.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
          <li><a href="page/user.php"><i class="fa-solid fa-user"></i></a></li>
        </div>
    </div>
      
  </nav>
</header>