<header class="navBar">
  <nav class="navWrapper">
        <div class="navBarLogo">
          <img src="img/logo.png" alt="appareil photo">
        </div>
        <div class="navBarBtn hide-on-med-and-down">
          <ul id="nav-mobile">
            <li><a href="index.php ">ACCEUIL</a></li>
            <li><a href="portfolio.php">PORTFOLIO</a></li>
            <li><a href="prestation.php">PRESTATION</a></li>
            <li><a href="store.php">BOUTIQUE</a></li>
            <li><a href="contact.php">CONTACT</a></li>
          </ul>
        </div>
        <div class="navBarIcons hide-on-med-and-down">
          <ul>
            <li><a href="basket.php"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <li><a href="user.php"><i class="fa-solid fa-user"></i></a></li>
          </ul>
        </div>
        <a href="#" data-target="slide-out" class="sidenav-trigger buton-collapse"><i class="material-icons black-text">menu</i></a>
  </nav>
  <ul id="slide-out" class="sidenav" position="end" style.position="absolute">
    <div class="logo">
      <li>
        <img src="img/logo.png" alt="">
        <li>
          <a href="basket.php">
            <i class="fa-solid fa-bag-shopping black-text"></i>
          </a>
          <a href="user.php">
            <i class="fa-solid fa-user black-text"></i>
          </a>
        </li>
      </li>
    </div>
    <li><div class="divider"></div></li>
    <li><a class="black-text acceuil" href="index.php ">ACCEUIL</a></li>
    <li><a class="black-text" href="portfolio.php">PORTFOLIO</a></li>
    <li><a class="black-text" href="prestation.php">PRESTATION</a></li>
    <li><a class="black-text" href="store.php">BOUTIQUE</a></li>
    <li><a class="black-text" href="contact.php">CONTACT</a></li>
  </ul>
</header>
